*{
    box-sizing: border-box;
}

:root{
--primarycolor:black
}

body{
    background: #8d8aa1;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height:100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0;
}

h1{
    color:var(--primarycolor);
}

p{
    text-align:center;
}

.btn{
color:#fff;
background-color: var(--primarycolor);
cursor:pointer;
border-radius: 5px;
font-size:12px;
padding:5px 12px;
}
.currency{
    padding:50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select{
    padding:10px 20px 10px 10px;
    border:1px solid #dedede;
    appearance: none;
    font-size: 16px;
    background:transparent;
    color:white;
    font-weight: 700;
}
.currency input{
    border:0;
    background: transparent;
    font-size: 30px;
    text-align:right;
}
.swap-rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rate{
    color:var(--primarycolor);
    font-size: 14px;
    padding:0 10px;
}
select:focus,input:focus,button:focus{
    outline: 0;
}

@media(max-width:600px){
    .currency input{
        width:200px
    }
}