:root{
    --success-color:springgreen;
    --error-color:crimson;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    background-color: azure;
    border-radius: 10px;
    box-shadow: 2px 3px 4px tomato;
    width:400px;
}

h2{
text-align:center;
margin:0 0 20px;
}

form{
    padding:30px 40px;
}

.formcontrol{
    margin-bottom:10px;
    padding-bottom: 20px;
    position: relative;
}
.formcontrol label{
    display: block;
    margin-bottom:5px;
    font-weight: 600;
}
.formcontrol input{
    border:2px solid white;
    border-radius: 4px;
    display: block;
    width:100%;
    padding:10px;
    font-size:14px;
}
.formcontrol input:focus{
    outline:0;
    border-color: azure;
}

.formcontrol.success input{
    border-color:var(--success-color) ;
}
.formcontrol.error input{
    border-color: var(--error-color);
}
.formcontrol small{
color:var(--error-color);
position: absolute;
bottom:0;
left:0;
visibility: hidden;
}
.formcontrol.error small{
    visibility: visible;
}

button{
    cursor: pointer;
    background-color: aqua;
    border: 2px solid aquamarine;
    border-radius: 4px;
    display: block;
    font-size: medium;
    margin-top: 20px;
    width:100%;
}